<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Conformity Vocabulary</title>
    <script
      src="https://www.w3.org/Tools/respec/respec-w3c"
      class="remove"
      defer
    ></script>
    <script class="remove">
      // All config options at https://respec.org/docs/
      var respecConfig = {
        specStatus: "unofficial",
        authors: [{ name: "Olivier Tirat", url: "https://www.clouddataengine.io/" },
                  { name: "Pierre Gronlier", url: "https://www.clouddataengine.io/" },
                 ],
        editors: [{ name: "Olivier Tirat", url: "https://www.clouddataengine.io/" },
                  { name: "Pierre Gronlier", url: "https://www.clouddataengine.io/" },
                 ],
        format: "markdown",
        shortName: "cde/cfmty",
        otherLinks: [{
                        key: "Source",
                        data: [{ value: "Gitlab",
                                 href: "https://gitlab.com/clouddataengine/conformity-vocabulary.git"
                              }]
                    }]
      };
    </script>
  </head>
  <body>
<section id="abstract">
The Conformity Vocabulary enables expressing machine-readable metadata about the use and processing of conformity assessment scheme based on the [ISO/IEC 17000:2020](https://www.iso.org/obp/ui/#iso:std:iso-iec:17000:ed-2:v2:en) document.

The canonical URL for Conformity Vocabulary is https://w3id.org/cde/conformity which contains (this) specification.

The namespace for conformity terms is https://w3id.org/cde/conformity#, the suggested prefix is cfmty, and this document along with source and releases are available at https://gitlab.com/clouddataengine/conformity-vocabulary.git
</section>
<section id="sotd">
This document should be considered as a working document.
</section>
<section class="informative">
## Introduction

The intent of the document is to provide:

- the vocabulary to express the objects defined in the [ISO/IEC 17000:2020](https://www.iso.org/obp/ui/#iso:std:iso-iec:17000:ed-2:v2:en) document
- the scheme of the object instances

<aside class="note" title="A useful note">
The remaining part of that document assume knowledge on [RDF specifications](https://www.w3.org/TR/rdf11-concepts/) and Linked Data.
</aside>
</section>

<section>
<h2>A section</h2>
<aside class="example">
<p>This is an example.</p>
<pre class="js">
// Automatic syntax highlighting
function someJavaScript(){}
</pre>
</aside>
<section>
<h3>I'm a sub-section</h3>
<p class="issue" data-number="121">
<!-- Issue can automatically be populated from GitHub -->
</p>
</section>
</section>
<section data-dfn-for="Foo">
<h2>Start your spec!</h2>
<pre class="idl">
[Exposed=Window]
interface Foo {
attribute DOMString bar;
undefined doTheFoo();
};
</pre>
<p>The <dfn>Foo</dfn> interface represents a {{Foo}}.</p>
<p>
The <dfn>doTheFoo()</dfn> method does the foo. Call it by running
{{Foo/doTheFoo()}}.
</p>
<ol class="algorithm">
<li>A |variable:DOMString| can be declared like this.</li>
</ol>
</section>
<section id="conformance">
<p>
This is required for specifications that contain normative material.
</p>
</section>
</body>
</html>
